<!doctype html>

<html>
<head>
	<title>
		My Awesome Blog!
	</title>

	<style>
		.blog-post {
			width: 70%;
			margin-bottom: 1em;
			border-bottom: 1px solid;
		}



	</style>
</head>
	<body>
		<h1>
			My Awesome Blog
		</h1>

		<% for (var i in blogPosts) { %>
		<div class="blog-post">
			<h2> <%= blogPosts[i].title %> </h2>


		</div>


		}

	</body>

</html>